.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #f5e5e5;
  
    .title {
      font-size: 26px;
      margin-left: 3em;
    }
  
    .nav-links {
      display: flex;
      align-items: center;
      padding: 2em 3em;
  
      .link {
        padding: 2em;
      }
  
      .cart-count {
        width: 22px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -35px;
        margin-left: 65px;
        border-radius: 11px;
        font-size: 14px;
      }
    }
  }